<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven/DataDir" value="~\Databases"/>
  </appSettings>
  <connectionStrings>
    <add name="RavenDbInstance" connectionString="Url = http://localhost:8090"/>    
    <add name="DocumentStore" connectionString="Database=TestDocumentStore; Url = http://localhost:8090"/>
    <add name="EventStore" connectionString="Database=TestEventStore; Url = http://localhost:8090"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
